.navbar{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: 20% 50%;
    border: 1px solid red;
    height: 10vh;
    display: flex;
    gap: 31px;
    justify-content: center;
    padding: 30px;
}