.aside-container{
    display: flex;
    flex-direction: column;
    max-width: 15%;
    align-items: center;
    justify-content:flex-start;
    background-color: lightgray;
    margin: 10px 0;
    padding: 15px 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 20px;
   
}
.aside-container h4{
     font-weight: lighter;
    width: 100%;
}
.aside-container a:hover{
    color: white;
}
.aside-container a{
    text-decoration: none;
    color: black;
}